// -----------------------------------------------------------------------------
// Contact styles & layout
// -----------------------------------------------------------------------------

.contact {
  position: relative;
}


.contact__title::after {
  content: "";
  display: block;
  background: $clr-light-grey;
  width: 2px;
  height: 5rem;
  margin: 1rem auto;
}


//
// Medium screens
// ==========================================================================

@media (min-width: $bp-medium) {

  .contact {
    @include flex;
  }


  .contact__title::after {
    width: calc(100% - 220px - 220px - 4rem);
    height: 2px;
    margin: 0 auto;

    position: absolute;
    left: 0;
    right: 0;
    top: 6.75rem;
    bottom: 0;
  }
}


//
// Large screens
// ==========================================================================

@media (min-width: $bp-large) {

    .contact__title::after {
      top: 7.75rem;
    }
}







