// -----------------------------------------------------------------------------
// Hero styles & layout (home page)
// -----------------------------------------------------------------------------

.hero {
  position: relative;
  padding-top: 0;
}

.hero__image {
  margin-bottom: 1.5rem;
}

.hero__title {
  margin-bottom: 2rem;
}

.hero__textbox {
  max-width: 515px;
  margin: 0 auto;
}


//
// Medium breakpoint
// ==========================================================================

@media (min-width: $bp-medium) {

  .hero__image {
    height: 600px;
    background: rgba(0, 0, 0, 0.9);
    object-fit: cover;
    object-position: 100% 0;
  }


  .hero__textbox {
    background: $clr-white;
    text-align: left;

    position: absolute;
    left: 0;
    bottom: 7rem;

    max-width: 567px;
    padding: 1.5rem 1.5rem 0 0;
  }

}

@media (min-width: $bp-large) {

  .hero__image {
    height: 650px;
  }


  .hero__textbox {
    bottom: 8rem;
    max-width: 440px;
  }
}

