// -----------------------------------------------------------------------------
// Hero styles & layout
// -----------------------------------------------------------------------------

.hero, .about {
  padding-bottom: 4rem;
  border-bottom: 2px solid $clr-light-grey;
  margin-bottom: 4rem;

  @media (min-width: $bp-medium) {
    padding-bottom: 5rem;
    margin-bottom: 5rem;
  }

  @media (min-width: $bp-large) {
    padding-bottom: 6rem;
    margin-bottom: 6rem;
  }
}

.hero {
  position: relative;
}

.hero__image {
  margin-bottom: 1.5rem;
}

.hero__title {
  margin-bottom: 2rem;
}

.hero__textbox {
  max-width: 515px;
  margin: 0 auto;
}


//
// Medium breakpoint
// ==========================================================================

@media (min-width: $bp-medium) {

  .hero__image {
    height: 600px;
    background: rgba(0, 0, 0, 0.9);
    object-fit: cover;
    object-position: 100% 0;
  }


  .hero__textbox {
    background: $clr-white;
    text-align: left;

    position: absolute;
    left: 0;
    bottom: 6rem;

    max-width: 567px;
    padding: 1.5rem 1.5rem 0 0;
  }

}

@media (min-width: $bp-large) {

  .hero__image {
    height: 650px;
  }


  .hero__textbox {
    bottom: 8rem;
    max-width: 440px;
  }
}

