// -----------------------------------------------------------------------------
// Main sections layout
// -----------------------------------------------------------------------------

.hero, 
.about, 
.project {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 2px solid $clr-light-grey;
}


.contact {
  padding-top: 3rem;
  padding-bottom: 3rem;
}


@media (min-width: $bp-medium) {

  .hero, 
  .about,
  .contact {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}


@media (min-width: $bp-large) {

  .hero, 
  .about, 
  .project, 
  .contact {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}