// -----------------------------------------------------------------------------
// Button component
// -----------------------------------------------------------------------------

// Read about this:
// @link https://moderncss.dev/css-button-styling-guide/

.btn {
  // Display
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start; // Optional - see "Gotchas"
  
  // Visual
  background-color: $clr-primary;
  color: $clr-white;
  border-radius: 1px;
  box-shadow: $bs-main;
  
  // Size
  border: 2px $clr-primary solid;
  padding: 17px 58px;
 
  
  // Text
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  line-height: 1.1;
  text-align: center;

  transition: color $transition,
              background-color $transition;

  &:hover,
  &:active {
    background-color: transparent;
    color: $clr-primary;
    box-shadow: $bs-active;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px $clr-secondary;
  }
}


.btn--secondary {
  background-color: transparent;
  color: $clr-primary;

  &:hover,
  &:active {
    background-color: $clr-primary;
    color: $clr-white;
  }
}


// SVG arrows used in hero button
.btn__down-arrow {
  fill: $clr-white;
  height: 0.8rem;
  width: 0.8rem;
  transition: $transition;

  &:first-child { margin-right: 0.5rem; }
  &:last-child { margin-left: 0.5rem; }
}


.btn:hover .btn__down-arrow {
  fill: $clr-primary;
}


// reduce hero__btn horizontal padding to compensate for svg space
.hero__btn {
  padding-left: 54px;
  padding-right: 54px;
}